{% extends 'base.html' %}

{% block title %}To-do{% endblock %}

{% block content %}
    <h1>Статьи:</h1>
    {% for article in articles %}
        <h3><a href="{% url "article_view" article.pk %}">{{ article.title }}</a></h3>
        <p>Статус: ({{ article.status }} | {{ article.get_status_display }})</p>
        <p>Автор: {{ article.author }} | Дата срока: {{ article.publish_at|date:"d.m.Y H:i:s" }}</p>
        <p>Дата создания: {{ article.created_at|date:"d.m.Y H:i:s" }}</p>
        <p><a href="{% url 'article_update' article.pk %}">Изменить</a></p>
        <p><a href="{% url 'article_delete' article.pk %}">Удалить</a></p>
    {% endfor %}
{% endblock %}
